
p, td, span {
	font-family: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
	font-size: 12px;
}

/* Default font settings for all form elements */
input, select, option, textarea {
	font-family: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
	font-size: 12px;
}

A {
	COLOR: #4a7ac9; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A:visited {
	
}
BODY {
	FONT: 12px/17px Î¢ÈíÑÅºÚ, tahoma, arial, helvetica, sans-serif, verdana; COLOR: #333333; BACKGROUND-COLOR: #fff
}
A.bold {
	FONT-WEIGHT: bold
}
A.bold:active {
	FONT-WEIGHT: bold
}
A.bold:hover {
	FONT-WEIGHT: bold
}
A.bold:visited {
	FONT-WEIGHT: bold
}
A.white {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white:active {
	COLOR: #ffd275; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffd275; TEXT-DECORATION: none
}
A.white:visited {
	
}
A.whitebold {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.whitebold:visited {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
A.whitebold:active {
	FONT-WEIGHT: bold; COLOR: #ffd275; TEXT-DECORATION: none
}
A.whitebold:hover {
	FONT-WEIGHT: bold; COLOR: #ffd275; TEXT-DECORATION: none
}
A.bookmark {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:active {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
A.bookmark:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: tahoma, arial, helvetica, sans-serif, verdana
}
A.gray {
	COLOR: #8d9398; TEXT-DECORATION: none
}
A.gray:active {
	COLOR: #8d9398; TEXT-DECORATION: underline
}
A.gray:hover {
	COLOR: #8d9398; TEXT-DECORATION: underline
}
A.gray:visited {
	COLOR: #8d9398
}
A.black {
	COLOR: #333; TEXT-DECORATION: none
}
A.black:active {
	COLOR: #333; TEXT-DECORATION: underline
}
A.black:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
A.black:visited {
	COLOR: #333
}
A.black-bold {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: none
}
A.black-bold:active {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: underline
}
A.black-bold:hover {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: underline
}
A.black-bold:visited {
	FONT-WEIGHT: bold; COLOR: #333
}
A.dkblue-bold {
	FONT-WEIGHT: bold; COLOR: #4a7ac9; TEXT-DECORATION: none
}
A.dkblue-bold:active {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.dkblue-bold:hover {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.dkblue-bold:visited {
	
}
TABLE.border {
	BORDER-RIGHT: #a0b4e0 1px solid; BORDER-TOP: #a0b4e0 1px solid; BORDER-LEFT: #a0b4e0 1px solid; BORDER-BOTTOM: #a0b4e0 1px solid; BACKGROUND-COLOR: #f5f7fc
}
TABLE.borderkb {
	BORDER-RIGHT: #a0b4e0 1px solid; BORDER-LEFT: #a0b4e0 1px solid
}
TABLE.pageheading {
	BACKGROUND-POSITION: 199px 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #0246be
}
TR {
	COLOR: #333333
}
TR.white {
	CURSOR: pointer; COLOR: #ffffff
}
TR.orange {
	CURSOR: pointer; COLOR: #ffcc66
}
.normal {
	FONT: 12px/17px Î¢ÈíÑÅºÚ, tahoma, arial, helvetica, sans-serif, verdana
}
TD {
	FONT: 12px/17px Î¢ÈíÑÅºÚ, tahoma, arial, helvetica, sans-serif, verdana
}
TD.ltblue {
	BORDER-BOTTOM: #a4c2f5 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.ltblueborder {
	BORDER-BOTTOM: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.heading {
	
}
TD.whitebold {
	//FONT-WEIGHT: bold; COLOR: #fff
}
TD.gray {
	COLOR: #8d9398
}
TD.white {
	COLOR: #fff
}
TD.splitleft {
	BORDER-RIGHT: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.splitright {
	BORDER-RIGHT: #002d96 1px solid; BORDER-LEFT: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.splitbottom {
	BORDER-TOP: #002d96 1px solid; BACKGROUND-COLOR: #a4c2f5
}
TD.footer {
	COLOR: #800000; BACKGROUND-COLOR: #a4c2f5
}
TD.pageheading {
	COLOR: #fff
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 0px 0px 5px; COLOR: #333333; FONT-FAMILY: Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif;
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
INPUT.normal {
	BORDER-RIGHT: #024197 1px solid; BORDER-TOP: #024197 1px solid; FONT: 11px/17px Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif; BORDER-LEFT: #024197 1px solid; WIDTH: 90px; BORDER-BOTTOM: #024197 1px solid
}
INPUT.searchbox {
	BORDER-RIGHT: #024197 1px solid; BORDER-TOP: #024197 1px solid; FONT: 11px/17px Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif; BORDER-LEFT: #024197 1px solid; WIDTH: 90px; BORDER-BOTTOM: #024197 1px solid
}
PRE.code {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: #c0c0c0 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 2pt; BACKGROUND: #faf9f5; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 2pt; FONT: 100% "courier new", "courier", "mono"; MARGIN-LEFT: 0px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #333333; PADDING-TOP: 2pt; BORDER-BOTTOM: #c0c0c0 1px solid
}
B.title {
	FONT-SIZE: 12px
}
B.blue {
	COLOR: #333333
}
FONT.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
UL.productindex {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; MARGIN: 5px
}
UL.mainmenu {
	PADDING-LEFT: 0px; FONT-SIZE: 11px; MARGIN: 5px; COLOR: #000000
}
DIV.menu_old {
	BORDER-RIGHT: #c0ffc0 1px solid; BORDER-TOP: #c0ffc0 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0ffc0 1px solid; CURSOR: hand; COLOR: #333; BORDER-BOTTOM: #fff 1px solid; BACKGROUND: #f0ffff
}
DIV.menu {
	BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; CURSOR: hand; BORDER-BOTTOM: #A08080 1px dotted;
}
DIV.menuOver {
	BORDER-RIGHT: #003399 1px solid; BORDER-TOP: #003399 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; BORDER-LEFT: #003399 1px solid; CURSOR: hand; COLOR: #800000; BORDER-BOTTOM: #003399 1px solid; BACKGROUND: #e0e0ff
}
FONT.tabLINK {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
FONT.tabLINKhover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
FONT.tabLINKbold {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINK:link {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
A.tabLINK:visited {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: gray; TEXT-DECORATION: none
}
A.tabLINK:hover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:link {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:visited {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
A.tabLINKbold:hover {
	FONT: bold 10px Verdana, Arial, Helvetica; COLOR: black; TEXT-DECORATION: none
}
.TAB {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.TAB_CLOSED {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: whitesmoke
}
.TABCLOSED {
	BORDER-BOTTOM: #cccccc 1px solid
}
.TABOPEN {
	BORDER-BOTTOM: #cccccc 0px solid
}
.CLOSE_TABS {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.BORDERS {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; BORDER-COLLAPSE: collapse
}
.MENUTABBOTTOM {
	BORDER-BOTTOM: #7f9db9 1px solid
}
.MENUTABBORDER {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.pgraph {
	MARGIN: 20px; WIDTH: 525px
}
P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 15px; FONT: 11px/17px Î¢ÈíÑÅºÚ,tahoma,arial,helvetica,sans-serif; COLOR: #333333
}
.linkstitle {
	WIDTH: 100%; CURSOR: hand;
}
